version: '2'
services:
  db:
    image: mysql:latest
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: passwd
      MYSQL_DATABASE: testapp
    ports:
         - 3304:3306

  web:
    image: apache
    build: ./webapp
    depends_on:
         - db
    links:
         - db
    container_name: apache
    restart: always
    ports:
         - "3003:80"

#  admin:
#    image: adminer
#    ports: 
#         - 8080:8080
   

#  client:
#    image: mysql:latest
#    container_name: mysql_client
#    depends_on:
#         - db
#    links:
#         - db
#    command: mysql -uroot -ppasswd -hdb -P3306 testapp
